/* Highlights */

.highlights {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

.highlight {
    background-color: $review-background;
    border-radius: 7px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    margin-bottom: 1em;
    width: 80%;

    p {
        width: 40%;
        margin-left: 1em;
        margin-top: 1em;
    }
}

.iframe-web {
    width: 600px;
    height: 400px;
}
