/* Main */

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

/* Placement */

body {
    line-height: 1.5;
    background-color: $body-background;
    color: $font-color;
}

.main {
    flex: 1 0 auto;
    width: 100%;
    margin: 0 auto;
    min-height: 400px;

    background-color: $body-background;

    h1 {
        padding: 1em;
        color: $font-color;
        text-align: center;
    }
}

.about {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    width: 50%;
    padding-bottom: 50px;

    p {
        text-align: justify;
    }
}
