/* Nav */

.nav {
    position: fixed;
    color: $nav-color;
    right: $placement-nav;
    background-color: rgba(0, 0, 0, 0.463);
    height: 70px;
    z-index: 2;

    a {
        font-size: 1.2rem;
        font-family: $nav-font;
        text-decoration: none;
    }

    a:hover {
        border-bottom: 2px solid $nav-color;
    }    
}
