/* Tables */

.color-table {
    font-size: 1em;
    border-collapse: separate;
    border-spacing: 4px;
    border: 1px solid rgb(208, 208, 208);
    margin-bottom: 20px;
    font-family: $text-font;
    width: 70%;

    th {
        text-align: left;
        width: auto;
    }

    td {
        width: 70px;
        height: 70px;
    }
}
