/* Typography */

p, ul, a {
    font-family: $text-font;
    font-size: 1em;
    margin-bottom: 1.4rem;
    text-decoration: none;
    color: $font-color;
    line-height: 1.75;
}

a {
    color: $link-color;
}

h1 {
    font-family: $head-font;
    margin: 0;
    color: $font-color;
}

h2 {
    font-family: $head-font;
    font-size: 1.2em;
    margin-bottom: 1em;
    text-align: center;
}

h3 {
    color: $font-color;
}
