{% extends "base-ps.html.twig" %}

{% block title %}Poker squares{% endblock %}

{% block body %}

<h1>About Poker Squares</h1>

<a href="{{ path('about_database') }}"><p>About database</p></a>

<p>
    Poker Squares is a solitaire game where the player should try and get poker hands in every column and row in a 5x5 grid.
    You can see all different poker hands down below and the points they are providing (following the American point system).
</p>
<p>
    If you create a user, you can make a bet before playing by filling in a form. You guess how many points you think you will receive (at least)
    and how much money you want to bet. Default and minimum value for those are set to 10. Further down on this page, you can see an approximate graph
    over points guessed and the percentage profit/loss it will provide. The higher the points you guess, the higher the profit and the lower the loss.
    If you guess under 20 points, your profit
    will be 0 since it's basically impossible to get that few points.
</p>
<p>
    During the game, you can click the "Give me a clue"-button if you need some inspiration. You can do this three times.
    It works only on rows/columns with four saved cards, since it is calculating the points the row/column will provide if
    the current card is placed there. You can also click the "Give me a new card"-button, which changes the current shown
    card to another one. You can only do this once, and you save it with advantage until the end of the game.
</p>
<p>
    After a game, you can save your score to a highscore list. If you play as a registered user, your score will be saved to your profile
    if it is higher than the score already saved. When creating a user you will get a starting sum of 100, and this value will change
    after playing a betting round.
</p>

<h3>Point system</h3>
<table class="poker-table">
    <tr>
        <th>Poker hand</th>
        <th>Points</th>
    </tr>
    <tr>
        <td>Royal straight flush</td>
        <td>100</td>
    </tr>
    <tr>
        <td>Straight flush</td>
        <td>75</td>
    </tr>
    <tr>
        <td>Four of a kind</td>
        <td>50</td>
    </tr>
    <tr>
        <td>Full house</td>
        <td>25</td>
    </tr>
    <tr>
        <td>Flush</td>
        <td>20</td>
    </tr>
    <tr>
        <td>Straight</td>
        <td>15</td>
    </tr>
    <tr>
        <td>Three of a kind</td>
        <td>10</td>
    </tr>
    <tr>
        <td>Two pairs</td>
        <td>5</td>
    </tr>
    <tr>
        <td>One pair</td>
        <td>2</td>
    </tr>

</table>

<h3>Approximate graph over profit/loss (%) vs points guessed</h3>

<iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQPkdGmqQBHsu8DzeomElWGJIdAxA0czujVUiROfPTS8YwM-6zdtvHI29DjorZO_E-RMB0BkNIb0_sn/pubchart?oid=830820963&amp;format=interactive"></iframe>

{% endblock %}
