{% extends "base-ps.html.twig" %}

{% block title %}Poker squares{% endblock %}

{% block body %}

<h1>About database</h1>

<a href="{{ path('reset') }}">NOLLSTÄLL DATABAS</a>

<p>Jag har skapat två tabeller relaterade till Poker Squares, User och Highscore. Jag valde att fortsätta jobba med SQLite.</p>

<h3>User</h3>

<p>
    I tabellen User sparas användarprofiler som består av id, username, account (default-värde 100) och score.
</p>

<h3>Highscore</h3>

<p>I tabellen Highscore finns alla highscores som sparas efter en spelomgång, och dessa består av id, name och score.</p>

<!-- draw.io diagram -->
<div class="mxgraph" style="max-width:100%;border:1px solid transparent;" data-mxgraph="{&quot;highlight&quot;:&quot;#0000ff&quot;,&quot;nav&quot;:true,&quot;resize&quot;:true,&quot;toolbar&quot;:&quot;zoom layers tags lightbox&quot;,&quot;edit&quot;:&quot;_blank&quot;,&quot;xml&quot;:&quot;&lt;mxfile host=\&quot;app.diagrams.net\&quot; modified=\&quot;2024-05-28T09:49:56.247Z\&quot; agent=\&quot;Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36\&quot; etag=\&quot;1zDuV2c17fnMdkPsglb_\&quot; version=\&quot;24.4.8\&quot;&gt;\n  &lt;diagram name=\&quot;Sida-1\&quot; id=\&quot;lihV1XQddueE9DQOIn0i\&quot;&gt;\n    &lt;mxGraphModel dx=\&quot;954\&quot; dy=\&quot;510\&quot; grid=\&quot;1\&quot; gridSize=\&quot;10\&quot; guides=\&quot;1\&quot; tooltips=\&quot;1\&quot; connect=\&quot;1\&quot; arrows=\&quot;1\&quot; fold=\&quot;1\&quot; page=\&quot;1\&quot; pageScale=\&quot;1\&quot; pageWidth=\&quot;827\&quot; pageHeight=\&quot;1169\&quot; background=\&quot;none\&quot; math=\&quot;0\&quot; shadow=\&quot;0\&quot;&gt;\n      &lt;root&gt;\n        &lt;mxCell id=\&quot;0\&quot; /&gt;\n        &lt;mxCell id=\&quot;1\&quot; parent=\&quot;0\&quot; /&gt;\n        &lt;mxCell id=\&quot;5zGtQQ1powAXGCIyNDJ0-1\&quot; value=\&quot;User\&quot; style=\&quot;swimlane;fontStyle=0;childLayout=stackLayout;horizontal=1;startSize=30;horizontalStack=0;resizeParent=1;resizeParentMax=0;resizeLast=0;collapsible=1;marginBottom=0;whiteSpace=wrap;html=1;fillColor=#e1d5e7;strokeColor=#9673a6;swimlaneFillColor=default;\&quot; vertex=\&quot;1\&quot; parent=\&quot;1\&quot;&gt;\n          &lt;mxGeometry x=\&quot;160\&quot; y=\&quot;120\&quot; width=\&quot;140\&quot; height=\&quot;150\&quot; as=\&quot;geometry\&quot; /&gt;\n        &lt;/mxCell&gt;\n        &lt;mxCell id=\&quot;5zGtQQ1powAXGCIyNDJ0-2\&quot; value=\&quot;id\&quot; style=\&quot;text;strokeColor=#666666;fillColor=#f5f5f5;align=left;verticalAlign=middle;spacingLeft=4;spacingRight=4;overflow=hidden;points=[[0,0.5],[1,0.5]];portConstraint=eastwest;rotatable=0;whiteSpace=wrap;html=1;fontColor=#333333;\&quot; vertex=\&quot;1\&quot; parent=\&quot;5zGtQQ1powAXGCIyNDJ0-1\&quot;&gt;\n          &lt;mxGeometry y=\&quot;30\&quot; width=\&quot;140\&quot; height=\&quot;30\&quot; as=\&quot;geometry\&quot; /&gt;\n        &lt;/mxCell&gt;\n        &lt;mxCell id=\&quot;5zGtQQ1powAXGCIyNDJ0-3\&quot; value=\&quot;username\&quot; style=\&quot;text;strokeColor=none;fillColor=none;align=left;verticalAlign=middle;spacingLeft=4;spacingRight=4;overflow=hidden;points=[[0,0.5],[1,0.5]];portConstraint=eastwest;rotatable=0;whiteSpace=wrap;html=1;\&quot; vertex=\&quot;1\&quot; parent=\&quot;5zGtQQ1powAXGCIyNDJ0-1\&quot;&gt;\n          &lt;mxGeometry y=\&quot;60\&quot; width=\&quot;140\&quot; height=\&quot;30\&quot; as=\&quot;geometry\&quot; /&gt;\n        &lt;/mxCell&gt;\n        &lt;mxCell id=\&quot;5zGtQQ1powAXGCIyNDJ0-4\&quot; value=\&quot;account\&quot; style=\&quot;text;strokeColor=none;fillColor=none;align=left;verticalAlign=middle;spacingLeft=4;spacingRight=4;overflow=hidden;points=[[0,0.5],[1,0.5]];portConstraint=eastwest;rotatable=0;whiteSpace=wrap;html=1;\&quot; vertex=\&quot;1\&quot; parent=\&quot;5zGtQQ1powAXGCIyNDJ0-1\&quot;&gt;\n          &lt;mxGeometry y=\&quot;90\&quot; width=\&quot;140\&quot; height=\&quot;30\&quot; as=\&quot;geometry\&quot; /&gt;\n        &lt;/mxCell&gt;\n        &lt;mxCell id=\&quot;5zGtQQ1powAXGCIyNDJ0-5\&quot; value=\&quot;score\&quot; style=\&quot;text;strokeColor=none;fillColor=none;align=left;verticalAlign=middle;spacingLeft=4;spacingRight=4;overflow=hidden;points=[[0,0.5],[1,0.5]];portConstraint=eastwest;rotatable=0;whiteSpace=wrap;html=1;\&quot; vertex=\&quot;1\&quot; parent=\&quot;5zGtQQ1powAXGCIyNDJ0-1\&quot;&gt;\n          &lt;mxGeometry y=\&quot;120\&quot; width=\&quot;140\&quot; height=\&quot;30\&quot; as=\&quot;geometry\&quot; /&gt;\n        &lt;/mxCell&gt;\n        &lt;mxCell id=\&quot;5zGtQQ1powAXGCIyNDJ0-6\&quot; value=\&quot;Highscore\&quot; style=\&quot;swimlane;fontStyle=0;childLayout=stackLayout;horizontal=1;startSize=30;horizontalStack=0;resizeParent=1;resizeParentMax=0;resizeLast=0;collapsible=1;marginBottom=0;whiteSpace=wrap;html=1;fillColor=#e1d5e7;strokeColor=#9673a6;swimlaneFillColor=default;\&quot; vertex=\&quot;1\&quot; parent=\&quot;1\&quot;&gt;\n          &lt;mxGeometry x=\&quot;400\&quot; y=\&quot;120\&quot; width=\&quot;140\&quot; height=\&quot;120\&quot; as=\&quot;geometry\&quot; /&gt;\n        &lt;/mxCell&gt;\n        &lt;mxCell id=\&quot;5zGtQQ1powAXGCIyNDJ0-7\&quot; value=\&quot;id\&quot; style=\&quot;text;strokeColor=#666666;fillColor=#f5f5f5;align=left;verticalAlign=middle;spacingLeft=4;spacingRight=4;overflow=hidden;points=[[0,0.5],[1,0.5]];portConstraint=eastwest;rotatable=0;whiteSpace=wrap;html=1;fontColor=#333333;\&quot; vertex=\&quot;1\&quot; parent=\&quot;5zGtQQ1powAXGCIyNDJ0-6\&quot;&gt;\n          &lt;mxGeometry y=\&quot;30\&quot; width=\&quot;140\&quot; height=\&quot;30\&quot; as=\&quot;geometry\&quot; /&gt;\n        &lt;/mxCell&gt;\n        &lt;mxCell id=\&quot;5zGtQQ1powAXGCIyNDJ0-8\&quot; value=\&quot;name\&quot; style=\&quot;text;strokeColor=none;fillColor=none;align=left;verticalAlign=middle;spacingLeft=4;spacingRight=4;overflow=hidden;points=[[0,0.5],[1,0.5]];portConstraint=eastwest;rotatable=0;whiteSpace=wrap;html=1;\&quot; vertex=\&quot;1\&quot; parent=\&quot;5zGtQQ1powAXGCIyNDJ0-6\&quot;&gt;\n          &lt;mxGeometry y=\&quot;60\&quot; width=\&quot;140\&quot; height=\&quot;30\&quot; as=\&quot;geometry\&quot; /&gt;\n        &lt;/mxCell&gt;\n        &lt;mxCell id=\&quot;5zGtQQ1powAXGCIyNDJ0-9\&quot; value=\&quot;score\&quot; style=\&quot;text;strokeColor=none;fillColor=none;align=left;verticalAlign=middle;spacingLeft=4;spacingRight=4;overflow=hidden;points=[[0,0.5],[1,0.5]];portConstraint=eastwest;rotatable=0;whiteSpace=wrap;html=1;\&quot; vertex=\&quot;1\&quot; parent=\&quot;5zGtQQ1powAXGCIyNDJ0-6\&quot;&gt;\n          &lt;mxGeometry y=\&quot;90\&quot; width=\&quot;140\&quot; height=\&quot;30\&quot; as=\&quot;geometry\&quot; /&gt;\n        &lt;/mxCell&gt;\n      &lt;/root&gt;\n    &lt;/mxGraphModel&gt;\n  &lt;/diagram&gt;\n&lt;/mxfile&gt;\n&quot;}"></div>
<script type="text/javascript" src="https://viewer.diagrams.net/js/viewer-static.min.js"></script>

<p>
    Det finns egentligen ingen relation mellan databaserna, då name i Highscore inte nödvändigtvis måste vara en User.
    Man kan välja att spela utan att använda sitt användarnamn och istället fylla i ett namn efteråt, och därför
    är inte alla name i Highscore username från User.
</p>
<p>
    Det finns flera trevliga fördelar med ORM. Jag tycker framför allt att det sparar en mycket tid.
    När man skapar en ny tabell så behöver man inte skriva all kod för tabellen själv, utan den genereras 
    automatiskt. Det minskar också risken för eventuella felskrivningar/buggar. ORM ger också möjligheten för
    personer som inte har så mycket erfarenhet av SQL att jobba med databaser.
    Jag har ju inte jobbat så mycket med ORM än, men om jag får gissa så tror jag att man ganska snart börjar
    känna sig begränsad när man vill göra lite mer avancerade saker i databasen. Då kanske man behöver använda
    SQL. I databas-kursen gjorde vi ju betydligt mer avancerade SQL-statements jämfört med hur vi har
    använt ORM i den här kursen. Det vi har gjort med ORM nu har ju varit ganska grundläggande, och jag hade velat
    veta hur avancerat man kan göra det med ORM. Går det t ex att skriva lagrade procedurer och är det i så fall
    lättare eller svårare att göra med ORM jämfört med SQL? 
</p>
<p>
    Min sammanfattning här är att det känns smidigare att använda ORM i
    första stadiet när man skapar en databas, men att jag hade behövt ha lite mer kunskap för att veta om det är
    lika användbart även när det blir mer avancerat.
</p>

{% endblock %}
