<div class="row-points">
    {% for points in all_row_points %}
        <p>{{ points }}</p>
    {% endfor %}
</div>

<div class="col-points">
    {% for points in all_col_points %}
        <p>{{ points }}</p>
    {% endfor %}
</div>

<div class="ps_div">
    {% for item in game_board %}
        {% if item[1] is not same as("null") %}
            <div class="ps_div_card">
                <img src="{{ asset('img/cards/'~ item[1] ~'.png') }}" alt="card" width="67px">
            </div>
        {% else %}
            <a href="{{ path('place_card', {id: item[0], card: card}) }}">
                <div class="ps_div_card"></div>
            </a>
        {% endif %}
    {% endfor %}
</div>
