{% extends "base-ps.html.twig" %}

{% block title %}Highscore{% endblock %}

{% block body %}
<h1>Highscore</h1>

<table class="poker-table" style="margin: auto">
    <tr>
        <th>Name</th>
        <th>Score</th>
        <th></th>
    </tr>
    {% for score in high_score %}
            <tr>
                <td>{{ score.getName|e }}</td>
                <td>{{ score.getScore|e }}</td>
                <td><a href="{{ path('highscore_delete', {id: score.getId}) }}">Delete</a></td>
            </tr>
        </a>
    {% endfor %}
</table>

{% endblock %}
