{% extends "base-ps.html.twig" %}

{% block title %}Poker squares{% endblock %}

{% block body %}

<div class="game_div">

    {% if counter is same as (-1) %}

        {% include 'poker-squares/bet_form.html.twig' %}

    {% else %}

        {% include 'poker-squares/game_board.html.twig' %}

        {% if counter is same as (25) %}
            {% include 'poker-squares/game_over.html.twig' %}
        {% else %}
            <div class="current-card">
                <img src="{{ asset('img/cards/'~ card ~'.png') }}" alt="card" class="card">
                <p class="sum">Sum: {{ sum }}</p>
                <button class="button-36"><a href="{{ path('poker_squares') }}">Start over</a></button>
            </div>
        {% endif %}
    {% endif %}

</div>

{% endblock %}
