{% extends "base2.html.twig" %}

{% block title %}Shuffle{% endblock %}

{% block body %}

<h1>Shuffled deck</h1>

<div class="suit-div">
    {% for card in shuffled %}
        {% if '♥' in card or '♦' in card%}
            <p style="color:red">{{ card }}</p>
        {% else %}
            <p>{{ card }}</p>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}
