{% extends "base-game.html.twig" %}

{% block title %}Documentation{% endblock %}

{% block body %}

<h1>Documentation</h1>

<h2>Flow chart</h2>
<img src="{{ asset('img/flowchart.png') }}" alt="Flow chart" width="300px">

<h2>Pseudo code</h2>
<img src="{{ asset('img/pseudo.png') }}" alt="Pseudo code" width="300px">

<h2>Classes</h2>

<p>
    At least one more class, beyond the card classes that already exist, should be written.
    This class should be called Game and hold methods that save scores and decides who's turn it is.
    Maybe classes like Player and Bank would be useful too.
</p>

{% endblock %}
