/* Typography */

p, ul, a {
    font-family: $text-font;
    font-size: 1em;
    margin-bottom: 1.4rem;
    text-decoration: none;
}

h1 {
    font-family: $head-font;
    margin: 0;
    text-decoration: none;
}
