{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>JSON routes</h1>

    <ul>
        <li><p><a href="{{ path('quote') }}">JSON quote</a></p></li>
    </ul>
    
{% endblock %}
