{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Report page</h1>

    <section>
    <a id="kmom01"><h2>Kmom01</h2></a>
        <p>Redovisningstext</p>
    </section>

    <section>
    <a id="kmom02"><h2>Kmom02</h2></a>
        <p>Redovisningstext</p>
    </section>

    <section>
    <a id="kmom03"><h2>Kmom03</h2></a>
        <p>Redovisningstext</p>
    </section>

    <section>
    <a id="kmom04"><h2>Kmom04</h2></a>
        <p>Redovisningstext</p>
    </section>

    <section>
    <a id="kmom05"><h2>Kmom05</h2></a>
        <p>Redovisningstext</p>
    </section>

    <section>
    <a id="kmom06"><h2>Kmom06</h2></a>
        <p>Redovisningstext</p>
    </section>

    <section>
    <a id="kmom07-10"><h2>Kmom07-10</h2></a>
        <p>Redovisningstext</p>
    </section>
{% endblock %}
